<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>可视化面板</title>
    <script src="{{ static_url('js/jquery.min.js')     }}"></script>
    <link rel="stylesheet" href="{{ static_url('css/materialize.min.css') }}">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="{{ static_url('js/materialize.min.js') }}"></script>
    <script src="{{ static_url('js/echarts.min.js')     }}"></script>
</head>

<body>
    <nav>
        <div class="nav-wrapper">
          <a href="#!" class="brand-logo center">小车控制面板</a>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="/">智能交通</a></li>
            <li><a href="#">人车跟随（手动）</a></li>
            <li><a href="/follow">人车跟随</a></li>
          </ul>
          <ul class="right hide-on-med-and-down">
            <li><a href="#">当前模式：2</a></li>
          </ul>
        </div>
        
      </nav>

    <div class="container">
        <div class="card" style="padding: 16px;">
            <div style="width: 100%;" class="center">
                <h5>参数设置</h5>
            </div> 
            <form class="col m12" method="POST">
                <div class="row" style="margin: 0 0;">
                    <div class="row m12">

                        <div class="input-field col m4 push-m2">
                        
                            <input name="p0" id="p0" type="number" class="validate" required value="{{ control_data[0] }}">
                            <label for="p0">axis-x</label>
                        </div>
                        
                        <div class="input-field col m4 push-m2">
                            
                            <input name="p1" id="p1" type="number" class="validate" required value="{{ control_data[1] }}">
                            <label for="p1">axis-y</label>
                        </div>
                    </div>
                    <div class="row m12">

                        <div class="input-field col m2 push-m3">
                     
                            <input name="p2" id="p2" type="number" step="0.001" class="validate" required value="{{ control_data[2] }}">
                            <label for="p2">P</label>
                        </div>
                        <div class="input-field col m2 push-m3">
                            
                            <input name="p3" id="p3" type="number" step="0.001" class="validate" required value="{{ control_data[3] }}">
                            <label for="p3">I</label>
                        </div>
                        <div class="input-field col m2 push-m3">
                            
                            <input id="p4" name="p4" type="number" step="0.001" class="validate" required value="{{ control_data[4] }}">
                            <label for="p4">D</label>  
                        </div>
                    </div>
                    
                </div>
                <div style="direction:rtl; padding-right: 16px;">
                    <input name="submit" type="submit" class="btn" id="params_submit" value="开始"></div>
                    {{ msg }}
                </div>
            </form> 

            <div class="card" style="padding: 16px;">
                <div style="width: 100%;" class="center">
                    <h5>功能面板</h5>
                </div> 
                <div class="row">
                    <div class="col">
                        <a href="javascript:void(0);" class="btn" onclick='return false;'>
                            待定
                        </a>
                    </div>
                </div>
            </div>

            <div class="card"  style="padding: 16px; visibility: hidden;">
                <div style="width: 100%;" class="center">
                    <h5>待用图</h5>
                </div> 
                <div style="width: 100%;">
                    <div id="chart" style="width: 100%;height:600px;"></div>
                </div>
    
            </div>
        </div>

        
        
    </div>

    <script>
        function revertDirection() {
            $.get("revert",function(result) {
                if (result==="ok"){
                    alert("转向请求已发送！");
                }
            })
        }
    </script>

</body>


<script type="text/javascript">
$(document).ready(function(){

    // button
    $("params_submit").click(function() {
        alert("!")
    });
    var chart =  echarts.init(document.getElementById("chart",'dark'))
    var x_arr = new Array(100);
    var y_arr = new Array(100);
    for(var i=0;i<x_arr.length;i++){
        x_arr[i] = i
        y_arr[i] = i
    }
    console.log(x_arr);
    myOption = {
            color : [ '#6a7985' ],
            //标题样式
            title : {
                text : "PID曲线图",
                textStyle : {
                    color : 'black',
                },
                left : 'center'
            },
            //提示框
            tooltip : {
                trigger : 'axis',
                position : 'top',
                axisPointer : {
                    type : 'cross',
                    label : {
                        backgroundColor : '#6a7985'
                    }
                }
            },
            //图形位置
            grid : {
                left : '4%',
                right : '6%',
                bottom : '4%',
                top : 80,
                containLabel : true
            },
            //x轴
            xAxis : [ {
                type : 'category',
                //坐标轴两边留白策略，即x轴坐标点开始与结束点位置都不在最边缘
                boundaryGap : true,
                axisLine : {
                    show : true,
                    //x轴线样式
                    lineStyle : {
                        color : '#17273B',
                        width : 1,
                        type : 'solid'
                    }
                },
                //x轴字体设置
                axisLabel : {
                    show : true,
                    fontSize : 12,
                    color : 'black'
                },
                data : x_arr
            } ],
            //y轴
            yAxis : [ {
                type : 'value',
                //y轴字体设置
                axisLabel : {
                    show : true,
                    color : 'black',
                    fontSize : 12
                },
                //y轴线设置不显示
                axisLine : {
                    show : true
                },
                //与x轴平行的线样式
                splitLine : {
                    show : true,
                    lineStyle : {
                        color : '#17273B',
                        width : 1,
                        type : 'solid',
                    }
                }
            } ],
            series : [ {
                name : "series",
                type : 'line',
                //折线平滑
                smooth : true,
                symbol : 'circle',
                symbolSize : 6,
                //线条样式
                lineStyle : {
                    color : {
                        type : 'linear',
                        x : 0,
                        y : 0,
                        x2 : 0,
                        y2 : 1,
                        colorStops : [ {
                            offset : 0,
                            // 0% 处的颜色
                            color : '#6ae6dd'
                        }, {
                            offset : 1,
                            // 100% 处的颜色
                            color : 'red'
                        } ],
                        globalCoord : false
                    },
                    width : 2,
                    type : 'solid',
                },
                //折线连接点样式
                itemStyle : {
                    color : '#00E5DE'
                },
                //折线堆积区域样式
                areaStyle : {
                    color : '#004c5E'
                },
                data : {{ y_data }}
            } ]
        };
    // var option = {
    //         color : [ '#6a7985' ],
    //         tooltip: {},
    //         legend: {
    //             data:['PID']
    //         },
    //         xAxis: {
    //             name: "times",
    //             type: 'value',
    //             data: x_arr
    //         },
    //         yAxis: {
    //             type: 'value',
    //             name: 'PID'
    //         },
    //         series: [{
    //             name: 'TOTAL',
    //             type: 'line',
    //             smooth: 0.2,
    //             data: {{ y_data }}
    //         }]
    //     };
 
    chart.setOption(myOption);
})
   
</script>


</html>